<!DOCTYPE html>
<html>
<body>

<h1>User Registration</h1>
<div class="content-section">
    <form method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" ><br><br>
        <label for="image">choose image:</label><br>
        <input type="file" id="image" name="image" ><br><br>
        <label for="user">User:</label><br> 
        <input type="text" id="user" name="user" ><br><br> 
        <input type="submit" value="Submit">
          
       
    </form>
    
</div>
</body>
</html>